/* ===== color ===== */

.white {
    color: #ffffff;
}

.orange {
    color: #D7511D;
}



/* ===== typography ===== */
#TitleSP {
    font-family: Days One;
    font-size: 36px;
    line-height: 40px;
}

.title {
    font-family: Baloo Tamma 2;
    font-size: 36px;
    line-height: 40px;
}

.subTile {
    font-family: Baloo Tamma 2;
    font-size: 24px;
    line-height: 28px;

}

.bodyCopy {
    font-size: 18px;
    line-height: 24px;
    font-family: 'Baloo Tamma 2', cursive;
    color: #ffffff;
}

.caption {
    font-size: 12px;
    line-height: 18px;
    font-family: 'Baloo Tamma 2', cursive;
}




/* ===== font awsome ===== */
.fas {
    font-size: 30pt;
    text-align: right;
}

.fab {
    font-size: 15pt;
    display: inline;
    color: #D7511D;
}




/* ===== layout ===== */
#logo {
    justify-content: center;
}

header {
    position: sticky;
    display: grid;
    grid-template-columns: 50% 50%;
}

#footerMapInfo {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.map {
    grid-column-start: 2;
    grid-column-end: 5;

}

footer {
    display: grid;
    grid-template-columns: 50% 50%;
    position: absolute;
    bottom: 0px;
}




/* ===== boxmodel ===== */
#logo {
    width: 150px;
}

header {
    padding: 50px;
}

a footer {
    width: 30px;
}

.map {
    width: 50px;
}

.mapText {
    padding-right: 20px;
    text-align: right;
}

footer {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    height: 150px;
}


/* ===== background ===== */
header,
footer {
    background-color: #282828;
}
